/*
 * SMACSS + SCSS starter v2.1
 * Inspired by SMACSS http://smacss.com
 * Author: @jonathanpath
 * Date: 4 August 2015
 *
 * https://github.com/jonathanpath/SASS-SMACSS
 * See file structure in http://jonathanpath.com/sass+smacss/scss/style.scss
 *
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 */
/* Site settings */
/* Base */
/* ===========================
   Base
   =========================== */
@import url("https://fonts.googleapis.com/css?family=Crushed");
body {
  margin: 0;
  border: 0; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

/* Layouts */
.l-langcons {
  margin-top: 1em;
  margin-bottom: 5em; }
  .l-langcons ul {
    padding-left: 1em; }
  .l-langcons ul > li {
    margin-left: 0.5em; }

/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {
  .l-langcons {
    margin-bottom: 4em; } }
/*for tablet - inclusive*/
@media only screen and (min-width: 60em) {
  .l-langcons {
    margin-bottom: 3em; } }
.l-language > ul {
  display: flex; }

/*for small tablet - inclusive*/
/*for tablet - inclusive*/
.l-laucons {
  margin-top: 10em; }
  .l-laucons .launch-text {
    margin: auto;
    max-width: 15em; }

.l-laucons .launch-logo img {
  display: block;
  width: 80%;
  height: auto;
  margin: auto; }

.l-stacons {
  margin-top: 6em; }
  .l-stacons .start-text {
    margin-bottom: 0; }
  .l-stacons .start-text > a {
    padding: 1em;
    padding-top: 2.5em;
    text-align: center;
    width: 10em;
    padding-bottom: 2.5em;
    display: block; }

/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {
  .l-laucons {
    margin-top: 3em; }

  .l-stacons {
    margin-top: 4em;
    margin-bottom: 4em; }
    .l-stacons .start-text > a {
      margin: auto;
      padding: 1.5em;
      display: block;
      max-width: 5.5em; } }
.l-laucons {
  max-width: 60em;
  margin: 0 auto; }
  .l-laucons .launch-logo img {
    max-width: 34em; }

/*for tablet - inclusive*/
@media only screen and (min-width: 60em) {
  .l-stacons {
    max-width: 60em; }

  .l-laucons {
    max-width: 60em; }
    .l-laucons .launch-logo img {
      max-width: 38em; }

  .l-stacons .start-text > a {
    margin: 0 auto;
    padding: 2em; } }
.l-dine .dine-options,
.l-dine .dine-text {
  margin: 1em auto;
  max-width: 10em;
  padding: 0;
  text-align: center; }

.l-dine .dine-text {
  margin-top: 1.5em; }

.l-dine .dine-logo > img {
  max-width: 10em;
  margin: 2em auto;
  display: block;
  margin-bottom: 0; }

.l-dine .dine-logo-text {
  margin: auto;
  display: block;
  max-width: 15em; }

.l-back .backlink {
  margin: 3em auto;
  display: block;
  max-width: 3.4em; }

/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {
  .l-dine .dine-logo > img {
    max-width: 18em;
    margin: 3em auto;
    margin-bottom: 0;
    margin-top: 10em; }

  .l-dine .dine-text {
    margin-top: 6em; } }
/*for tablet - inclusive*/
@media only screen and (min-width: 60em) {
  .l-dine .dine-logo > img {
    max-width: 22em;
    margin: 3em auto;
    margin-bottom: 0;
    margin-top: 10em; }

  .l-dine .dine-text {
    margin-top: 6.5em; } }
/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {
  .l-flex-dine {
    display: flex; }

  .dine-logo-container {
    flex: 0 0 60%; } }
/*for tablet - inclusive*/
.l-order-header {
  display: flex; }

.cartItems .item1 {
  display: flex;
  justify-content: space-between;
  line-height: 1px; }

.firstItem {
  line-height: 1em;
  margin-top: 1em; }
  .firstItem span {
    font-size: 14px;
    font-style: italic; }

.burger-items,
.sides-items,
.bev-items {
  margin-top: 1.25em; }

.cstm {
  display: flex;
  margin: 1em;
  width: 100%;
  align-items: center; }

/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {
  .burger-items,
  .sides-items,
  .bev-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .burger-items > div,
    .sides-items > div,
    .bev-items > div {
      flex: 0 0 45%; } }
/*for tablet - inclusive*/
@media only screen and (min-width: 60em) {
  .burger-items > div,
  .sides-items > div,
  .bev-items > div {
    flex: 0 0 30%; } }
.l-order-nav-items {
  margin: 0;
  padding-left: 0; }

.l-order-header {
  align-items: center; }
  .l-order-header a {
    align-items: center;
    margin: 1em; }

.orderdetails {
  margin: 2em; }

/* Modules */
.indexbody {
  background-color: #192334; }

.language {
  color: #ffffff;
  font-family: Crushed;
  text-transform: uppercase;
  font-size: 16px; }
  .language-options li {
    color: #ffffff;
    list-style-type: none;
    font-family: Crushed;
    text-transform: uppercase; }

.language-options li > a {
  color: #ffffff; }

.language-options-inactive {
  text-decoration: none; }

.launch-logo img {
  height: 20em; }

.launch-text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  font-family: Crushed; }

.start-text a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: Crushed;
  background-color: #29374E; }

/*for small tablet - inclusive*/
@media only screen and (min-width: 40em) {
  .launch-logo img {
    height: 30em; }

  .launch-text {
    font-size: 28px; }

  .language {
    font-size: 18px; }

  .start-text a {
    border-radius: 2%;
    height: 1em;
    width: 10em; } }
/*for tablet - inclusive*/
@media only screen and (min-width: 60em) {
  .launch-logo img {
    height: 36em; }

  .launch-text {
    font-size: 34px; }

  .language {
    font-size: 20px; } }
.button1 {
  background-color: #29374E;
  border-radius: 2%;
  text-align: center;
  margin-top: 1em; }
  .button1 a {
    width: 3.5em;
    padding: 1em;
    font-size: 28px;
    text-decoration: none;
    color: #ffffff;
    display: block; }

.button2 {
  background-color: #29374E;
  border-radius: 2%;
  text-align: center;
  margin-top: 1em;
  max-width: 5em; }
  .button2 a {
    width: 3em;
    padding: 1em;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    display: block; }

.order-header {
  height: 10em;
  background-color: #192334;
  border-bottom: 0.2em solid #939FB4; }

.order-header > img {
  height: 95%;
  margin: auto;
  display: block; }

.order-header > a {
  font-size: 2em;
  color: #ffffff; }

.order-text {
  font-size: 38px;
  color: #ffffff;
  font-family: Crushed;
  text-transform: uppercase; }

footer {
  background-color: #192334;
  height: 85px;
  margin-top: 3.5em; }

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial; }

/*Tab links */
.tablink {
  background-color: #29374E;
  color: #ffffff;
  float: left;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
  border-radius: 0;
  font-family: Crushed;
  text-transform: uppercase;
  font-size: 24px; }

#item1,
#item2,
#item3,
#item4,
#item5,
#item6 {
  margin: auto;
  display: block;
  width: 20em;
  height: 24em; }
  #item1 img,
  #item2 img,
  #item3 img,
  #item4 img,
  #item5 img,
  #item6 img {
    width: 60%;
    margin: auto;
    display: block; }

.sides-items #item1 img,
.sides-items #item2 img,
.sides-items #item3 img,
.sides-items #item4 img,
.sides-items #item5 img,
.sides-items #item6 img {
  width: 75%; }

.bev-items #item1 img,
.bev-items #item2 img,
.bev-items #item3 img,
.bev-items #item4 img,
.bev-items #item5 img,
.bev-items #item6 img {
  width: 70%; }

#item1 h3,
#item2 h3,
#item3 h3,
#item4 h3,
#item5 h3,
#item6 h3 {
  font-family: Crushed;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.4em;
  margin-top: 0.5em; }

#item1 p,
#item2 p,
#item3 p,
#item4 p,
#item5 p,
#item6 p {
  text-align: left;
  margin: 1em 1em;
  margin-top: 0.5em; }

#item1 h4,
#item2 h4,
#item3 h4,
#item4 h4,
#item5 h4,
#item6 h4 {
  text-align: center;
  margin-top: 0.5em;
  font-size: 24px;
  margin-bottom: 0;
  font-family: Crushed; }

.viewcart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s; }

.viewcart .closebtn {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  font-size: 30px;
  margin-right: 50px; }

.viewcart .orderdetails > h1 {
  font-family: Crushed;
  text-transform: uppercase; }

.viewcart .closebtn {
  color: #192334; }

.tabcontent {
  color: #ffffff;
  display: none;
  padding: 70px 20px;
  height: 100%; }

#Home,
#News,
#Contact {
  background-color: #ffffff;
  color: #192334; }

.pbold {
  font-weight: bold; }

.cstm > div {
  width: 9em;
  height: 2em;
  background-color: #192334;
  text-align: center;
  border: 0.5px solid #ffffff; }
  .cstm > div a {
    text-decoration: none;
    color: #ffffff;
    font-family: Crushed;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: 0.2em; }

.custombtn2 {
  text-align: center;
  border: 0.5px solid #ffffff;
  display: block;
  margin: auto; }
  .custombtn2 a {
    text-decoration: none;
    width: 12em;
    color: #ffffff;
    background-color: #192334;
    font-family: Crushed;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em auto; }

.custombtn3 {
  text-align: center;
  border: 0.5px solid #ffffff;
  display: block;
  margin: 5em auto; }
  .custombtn3 a {
    text-decoration: none;
    background-color: #192334;
    color: #ffffff;
    font-family: Crushed;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1em; }

/*for small tablet - inclusive*/
/*for tablet - inclusive*/
.dine-body {
  background-color: #192334; }

.dine {
  color: #ffffff;
  font-family: Crushed;
  text-transform: uppercase;
  font-size: 16px; }
  .dine-options li {
    color: #ffffff;
    list-style-type: none;
    font-family: Crushed;
    text-transform: uppercase; }

.dine-text {
  font-size: 30px; }

.dine-logo > img {
  height: auto; }

.dine-logo-text {
  font-size: 12px; }

.l-back .backlink a {
  color: white;
  text-decoration: none;
  font-size: 18px; }

@media only screen and (min-width: 40em) {
  .dine-logo-text {
    font-size: 16px; } }
/*for tablet - inclusive*/
/* Fonts */

/*# sourceMappingURL=style.css.map */
